<h3>Add Film</h3>

<form [formGroup]="filmsForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name">
      </div>

      <div>
        <label for="description">
          Description
        </label>
        <input id="description" type="text" formControlName="description">
      </div>

      <div>
        <label for="release_date">
          Release Date
        </label>
        <input id="release_date" type="text" formControlName="release_date">
      </div>

      <div>
        <label for="rating">
          Rating
        </label>
        <input id="rating" type="text" formControlName="rating">
      </div>

      <div>
        <label for="ticket_price">
          Ticket Price
        </label>
        <input id="ticket_price" type="text" formControlName="ticket_price">
      </div>

      <div>
        <label for="country">
          Country
        </label>
        <input id="country" type="text" formControlName="country">
      </div>

      <div>
        <label for="genre">
          Genre
        </label>
        <input id="genre" type="text" formControlName="genre">
      </div>

      <div>
        <label for="photo">
          Photo
        </label>
        <input id="photo" type="file" formControlName="photo" (input)="fileChoosen($event)">
      </div>


    <button class="button" type="submit">Add Film</button>
  
  </form>